<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Bad Behavior .NET</title>
    </head>
    <body>
        <div id="header">
            <h1>Bad Behavior .NET</h1>
            <form method="post">
                <input type="submit" name="clear" value="Clear logs" />
            </form>
        </div>
        <div id="content">
            {{{content}}}
        </div>
        <div id="footer">
            <form method="post">
                <input type="submit" name="clear" value="Clear logs" />
            </form>
        </div>
    </body>
</html>