<p>Showing entries {{firstEntry}} to {{lastEntry}} of {{totalEntries}}.</p>

<table>
    <thead>
        <tr>
            <th>IP/Date/Status</th>
            <th>Headers</th>
            <th>Entity</th>
        </tr>
    </thead>
    <tbody>
        {{pager?}}
        <tr class="paging">
            <td colspan="3">{{{pager}}}</td>
        </tr>
        {{/pager?}}
        {{{rows}}}
        {{pager?}}
        <tr class="paging">
            <td colspan="3">{{{pager}}}</td>
        </tr>
        {{/pager?}}
    </tbody>
</table>
