<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.less")" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <h1>Bad Behavior .NET</h1>
        <p>
            Block spam, e-mail harvesters and other malicious activity on any ASP.NET website.
        </p>
    </header>
    <nav>
        <menu><a href="/">Home</a></menu>
        <menu><a href="/about">About</a></menu>
        <menu><a href="/contributing">Contributing</a></menu>
        <menu><a href="/help">Help</a></menu>
    </nav>
    <section id="contents">
        @RenderBody()
    </section>
    <footer>

    </footer>
</body>
</html>
