@{
    ViewBag.Title = "Test";
}

<h2>Test.cshtml</h2>

<form method="post">
    <input type="hidden" name="title" value="spam" />
    <input type="hidden" name="url" value="spam" />
    <input type="hidden" name="blog_name" value="spam" />
    <input type="submit" value="Send a fake trackback" />
</form>
