<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="badBehavior" type="BadBehavior.Configuration.BadBehaviorConfigurationSection, BadBehavior" />
    </configSections>

    <badBehavior offsiteForms="true" supportEmail="no-reply@jamesmckay.net">
        <reverseProxyAddresses>
            <add value="test.one" />
            <add value="test.two" />
        </reverseProxyAddresses>
        <whitelist>
            <ipRanges>
                <add value="10.0.0.0/8" />
            </ipRanges>
        </whitelist>
    </badBehavior>

    <appSettings>
        <add key="configCheck" value="12345" />
    </appSettings>

    <connectionStrings>
        <add name="BadBehavior" providerName="System.Data.SqlClient"
            connectionString="Server=.\sqlexpress;Database=BadBehavior;Integrated Security=SSPI" />
    </connectionStrings>
</configuration>