<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="badBehavior" type="BadBehavior.Configuration.BadBehaviorConfigurationSection, BadBehavior" />
    </configSections>

    <badBehavior offsiteForms="true" supportEmail="no-reply@jamesmckay.net">
        <reverseProxyAddresses>
            <add value="test.one" />
            <add value="test.two" />
        </reverseProxyAddresses>
    </badBehavior>

    <appSettings>
        <add key="configCheck" value="12345" />
    </appSettings>
</configuration>